<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}
      {% if page.url != '/' %}
        | {{ meta.siteName }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
  </head>
  <body class="bg-slate-50 text-gray-900 antialiased">
    {{ content | safe }}
  </body>
  <footer>
    <div class="max-w-4xl px-4 md:px-8 mx-auto mt-10 text-sm text-center">
      <p>Built with
        <a href="https://www.11ty.dev/" target="_blank">11ty</a>,
        <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>, &amp;
        <a href="https://mozilla.github.io/nunjucks/" target="_blank">Nunjucks.</a>
      </p>
    </div>
  </footer>
</html>