---
layout: base.njk
---

<header>
  <div class="max-w-2xl mx-auto px-4 md:px-8">
    <h1 class="text-3xl mt-4 mb-10 font-bold font-mono">joshua-dors</h1>
    {% include 'src/_includes/nav.njk' %}
  </div>
</header>
<main>
  <article class="mt-10">
        {{ content | safe }}
  </article>
</main>